{% extends "layout.html" %}

{% set lapa = "etron" %}
        
{% block saturs %}

        <h1>Audi E-tron</h1>

        <img src="/static/atteli/audi.jpg" alt="Audi E-tron" div class="bildes"> 

        <div class="virsraksts">
                <p>
                        Tesla konkurents
                </p>
        </div>
        <div class="teksts">
                <p>
                        Šis transportlīdzeklis nav pirmais Audi klāstā ar e-tron nosaukumu. Līdz šim lādējamie hibrīdi arī ieguva sev šo titulu. Iepazīstot pasauli ar e-tron 55 quattro, Audi nolēma “e-tron” vārdu dot tikai tiem transportlīdzekļiem, kas nerada izmešus, lai kustētu uz priekšu.


Daudzos rakstos par Audi e-tron (turpmāk rakstā lietošu saīsināto versiju) tas tiek saukts par Tesla konkurentu/galinātāju. Es domāju, ka paši Audi cilvēki saprot, ka tā nu gluži nav. Noteikti ir cilvēki, kas iepriekš domāja iegādāties Tesla Model X, bet, uzzinot par Audi piedāvājumu, izvēlējās e-tron, un ir arī cilvēki, kas rīkojās pretēji. Tomēr jāņem vērā, ka šie abi piedāvā ļoti atšķirīgas pieredzes. Viens ir automašīnu “Fabergé ola”, bet otrs piedāvā augstu vācu kvalitāti. Kā paši Audi reklamē savu pirmo mūsdienu elektroauto – tas nav domāts tev.
                </p>
        </div>

      
{% endblock %}