{% extends "layout.html" %}

{% set lapa = "fiat" %}
        
{% block saturs %}
        <h1>Fiat 500e</h1>

        <img src="/static/atteli/fiat.jpg" alt="Fiat 500" div class="bildes">

        <div class="virsraksts">
                <p>
                        Jaunā itāļu stila ikona
                </p>
        </div>
        <div class="teksts">
                <p>
                        Jaunajam elektriskajam Fiat 500 ir divas versijas. Lielākā ir 42 kWh baterija, kas nodrošina līdz 320 kilometru nobraukumu pēc WLTP. Tas gan būs pilsētas apstākļos. Šo versiju darbina 118 Zs (220 Nm) elektromotors. Ir vēl arī vienkāršākā versija ar 24 kWh bateriju, kas nodrošina vien nobraukumu līdz 185 km. Tas visam fonā ir tas pats elektromotors ar nedaudz samazinātu 95 Zs (200 Nm) jaudu un abiem baterijas atrodas grīdā, kā jau modernam elektromobilim pienākas. Versija ar mazāko bateriju ir 110 kg vieglāka, kas ir diezgan nozīmīga atšķirība.

Auto ar lielāko bateriju atbalsta 85 kW ātrās uzlādes iespēju, kas caur klasisko CCS spraudni bateriju no 10% līdz 80% uzlādēs nieka 35 minūtēs. 24 kWh baterija versija atbalsta 50 kW uzlādi, kas pie mums ir pietiekami. Populārā vietne Fastned ziņo, ka baterijas uzlādes jauda strauji samazinās pēc 85%, un es to varu apliecināt.
                </p>
        </div>

        <div class="virsraksts">
                <p>
                        Izskats ir pat ļoti uzrunājošs  
                </p>
        </div>
        <div class="teksts">
                <p>
                        Jaunā itāļu stila ikona ir pamatīgi augusi izmērā. 61mm garāka, 56mm platāka un 39mm augstāka. Kā jau vienmēr šie cipari neizklausās daudz, bet jau tikai apskatot auto var redzēt, ka tas ir nobriedis. Esošais klasiskais stils ir ieturēts, tur uztraukuma nav – jau pa gabalu varēsiet atpazīt, ka brauc Fiat 500. Frizieri var atsākt elpot. Priekšējie lukturi vairs nav apaļi, ja pat tādi izskatās – augšējā daļa ir integrēta dzinēja pārsegā kā LED pusriņķis. Arī miglas lukturu vairs nav – ir LED riņķi, kas kalpo kā dienas gaismas lukturi. Aizmugure ir ierastāka un vizuāli atšķiras tik nedaudz, bet ir jauni LED lukturi, lielāks spoileris un milzīgi FIAT burti pa bagāžnieka vāku.

                        Es būšu pavisam godīgs – man iepriekšējais Fiat 500 ļoti nepatīk. Ne izskats, ne interjers, ne kvalitāte. Un arī braukšana ir nekāda. Abarth noteikti manas domas izmainītu, bet tas jau faktiski ir atsevišķs brends. Kad mūsu redzes lokā nonāca jaunais elektriskais 500, neviens baigi nerāvās uz auto izmēģinājumu. Un veltīgi. Ja neskaita sievišķīgo Rose gold krāsu, izmēģinājuma elektriskais mūķeņu auto gan izskatās stalti, gan arī brauc tā. 
                </p>
        </div>

</div>  <div class="virsraksts">
        <p>Fiat 500e Hatchback 42 kWh</p>
</div>
<div class="teksts">
        <p>gaitas rezerve:165 - 355km, bet vidēji:235km</p>
</div> 

{% endblock %}