{% extends "layout.html" %}

{% set lapa = "i3" %}
        
{% block saturs %}
        <h1>BMW i-3</h1>

        <img src="/static/atteli/bmw.jpg" alt="BMW i3" div class="bildes">

        <div class="virsraksts">
                <p>
                        Latvijas populārākais elektroauto
                </p>
        </div>
        <div class="teksts">
                <p>
                        
                        ad es vairākus gadus atpakaļ pirmo reizi ieraudzīju BMW i3, man tas likās uzjautrinošs. Ļoti iespējams, tas bija pirmais elektroauto, ko es redzēju dzīvē. Todien, kad nonācu mājās, uzreiz sievai pastāstīju par to. Tā dizains ir tik netipisks – norautais purns, augstais salons, muskuļveidīgās aprises. Es rādīju viņai bildes ar to un, patiesībā, diez gan ilgi turpināju to pētīt. Tagad atskatoties, ļoti iespējams, ka, ja nebūtu BMW i3, nebūtu Uzlādēts.lv. 

                        Tagad man i3 dizains ļoti patīk. Es to saprotu. Purns ir tik īss, jo tanī nav jāiebāž milzīgs iekšdedzes motors. Salonā vietas ir komfortabli četriem cilvēkiem. Man vairāk arī nevajag. Tāpat lielākoties braucu viens.
                        
                        
                        Kad i3 tika izlaists, tas bija paredzēts, lai kalpotu par nākotnes tehnoloģiju virzītāju, sākot no akumulatora piedziņas sistēmām un ilgtspējīgiem materiāliem viscauri un beidzot ar salona apdari, saņemot gan uzslavas, gan kritiku. Izstrādājot i3 un i8, BMW izveidoja īpašu darba komandu, kuras uzdevums bija uztaisīt iekārojamu elektroauto – izmaksas un gala cena nebija svarīgākie aspekti.
                        
                        Eko bumers
                        Karbona virsbūve, kas to padara ievērojami vieglāku, pārstrādāti materiāli salonā, ražošanas procesā izmantotā vēja enerģija. Tas viss man ļoti iet pie sirds. Pāri visam i3 no ražošanas līdz pārstrādei ir veidots, lai būtu ar pēc iespējas mazāku ekoloģisko nospiedumu, ko nevar teikt par citiem šī autoražotāja modeļiem.
                        
                        
                        2013. gadā izlaistā automašīna bija BMW pirmais nopietnais elektroauto, kas bija paredzēts, lai pārbaudītu sabiedrības apetīti pēc elektriskajām automašīnām, neapdraudot BMW tipiskos salonus. Nesen uzņēmums paziņoja, ka turpinās to pārdot vēl vairākus gadus, lai gan tipiskām mašīnām ražošanas cikls ir 7 gadi, jo jau tagad šis ir kļuvis par Bavārijas autoražotāja vienu no ikonām. Uzlādēts.lv to aplaimoja ar 2019. gada Latvijas elektroauto titulu.
                        
                        bmw i3 120 ah
                        BMW i3 izaugsme
                        Pirmais BMW i3 spēja reālistiski veikt 130 km ar pilnu uzlādi. 2016. gadā BMW atjaunoja i3 ar ievērojami lielāku akumulatoru, sniedzot tam 200 km autonomiju. Togad iznāca vēl viena i3 versija – i3s, kas bija sportiskāka. Divus gadus vēlāk BMW vēlreiz atjaunoja i3 (un i3s) ar lielāku bateriju, sniedzot 260 km autonomiju. 6 gadu laikā BMW ir dubultojuši autonomiju. BMW ir vieni no retajiem, kas sniedz gan WLTP uzrādīto autonomiju, gan pasaka, cik ir reālais, ko iegūsi. Tas bija īpaši svarīgi, kad NEDC cikls bija aktuāls.
                        
                        BMW līdz šim ir pārdevis vairāk nekā 150 000 i3 un i3s automašīnu, ar katru gadu pieaugot pieprasījumam.
                        
                        Uzlāde
                        No mājsaimniecības rozetes rozetes, jaunākais BMW i3 no 0 līdz 100 % spēs uzlādēties 20 stundās, bet pie mājas vai publiskās uzlādes stacijas, kādas ir pieejamas uzlādēts veikalā, BMW i3 spēj paņemt līdz 11 kW jaudu un pilna uzlāde prasīs 4 stundas. No līdzstrāvas uzlādes stacijas tas spēj paņemt 50 kW lielu jaudu un 80% uzlāde prasīs nedaudz vairāk kā pusstundu. Vairāk par to, kā uzlādēt BMW i3, var uzzināt šajā rakstā.
                        
                        BMW i3 uzlādes līkne
                        BMW i3 uzlādes līkne. Avots: Fastned
                        Kā jau šāda izmēra mašīnām, bagāžnieks nav no tiem lielajiem. Par to es nesūdzētos, bet ir ierasts, ka tajā ir kāda vieta priekš uzlādes kabeļiem. BMW ir arī par to padomājuši. Šī mašīna ir aprīkota ar priekšējo bagāžnieku (frunk/froot no angļu valodas), kurā var ielikt vismaz vienu no uzlādes kabeļiem. Tomēr jāsaprot, ka lielākā daļa BMW i3 īpašnieku lādēsies mājās vai darbā, kur ir iespējams ierīkot uzlādes staciju.
                        
                        Es nesaprotu gan vienu lietu – kāpēc BMW baterijas apzīmē ar ampērstundām nevis kā visi citi ar kilovatstundām? Oriģinālais i3 bija ar 60Ah bateriju, tam sekoja 94 Ah un šobrīd jaunākais ir ar 120 Ah. Kā man ampērstundas var palīdzēt, kad es zinu, ka uzlādes stacija ir ar 50 kilovatu lielu jaudu? Ja jau liek ampērstundas, lai nosauc arī voltus, lai vismaz varu aprēķināt.   
                        
                        
                </p>
        </div>

        <div class="virsraksts">
                <p>i3 2014 - 2017</p>
        </div>
        <div class="teksts">
                <p>gaitas rezerve - 130 km </p>
        
        
        

        <div class="virsraksts">
                <p>i3/i3s 2018</p>
        </div>
        <div class="teksts">
                <p>i3 gaitas rezerve - 183 km </p>
                <p>i3s gaitas rezerve - 172 km </p>
        </div> 



</div>  <div class="virsraksts">
        <p>i3 2019 - 2021</p>
</div>
<div class="teksts">
        <p>gaitas rezerve - 246 km </p>
</div> 

{% endblock %}