{% extends "layout.html" %}

{% set lapa = "id3" %}
        
{% block saturs %}
        <h1>VW ID3</h1>

<section>
        <img src="/static/atteli/id3.jpg" alt="VW ID3" div class="bildes" >
        <img src="/static/atteli/id.3.jpg" alt="VW ID3" div class="bildes" >
        <img src="/static/atteli/vw.id3-3.jpg" alt="VW ID3" div class="bildes" >
        <div class="virsraksts">
                <p>
                        Volkswagen ID.3
                </p>
        </div>
        <div class="teksts">
                <p>Volkswagen paši ID.3 uzskata par pašu nozīmīgāko modeli savā jaunāko laiku vēsturē. Tas ir pirmais auto, kas uzbūvēts uz jaunās elektriskajiem auto paredzētās MEB platformas un arī pirmais CO2 neitrālais auto. Volkswagen par klimatneitralitāti tagad domā nopietni un rūpējas par to, lai visos savu jauno elektroauto ražošanas posmos tiktu samazināti kaitīgie izmeši un tur kur to vairs nevar panākt, uzņēmums sola finansēt dažādas klimata uzlabošanas kampaņas. Kopumā Volkswagen līdz 2024. gadam plāno ieguldīt 33 miljardus eiro elektrisko auto ražošanā un līdz 2025. gadam pārdot 1.5 miljonus elektroauto gadā. Bet 2029. gadā šis vācu autoražotājs plāno piedāvāt 75 elektroauto modeļus. Plāni lieli un palūkosim, kāds ir sanācis to sākums ar ID.3!</p>
        </div>
</section>
{% endblock %}