
{% extends "layout.html" %}

{% set lapa = 'kontakti' %}

{% block css %}
<link rel="stylesheet" href="static/css/kontakti.css">
{% endblock %}

{% block saturs %}
    <h2>Aizpildtiet laukus, lai nosūtītu ziņu</h2>

    <form action='/kontakti' method="POST">
      {% if message %}
      <h3>{{ message }}</h3>
      {% endif %}
      <fieldset>
        <label for="first-name">Vārds: <input id="first-name" name="first-name" type="text" required /></label>
        <label for="last-name">Uzvārds: <input id="last-name" name="last-name" type="text" required /></label>
        <label for="email">E-pasts: <input id="email" name="email" type="email" required /></label>
        <label for="text">Ziņa: <input id="text" name="text" type="text" required /></label>
      </fieldset>
      <input type="submit" value="Sūtīt ziņu" />
    </form>
{% endblock %}