{% extends "layout.html" %}
{% set lapa = 'kontakti' %}
{% block saturs %}

    <h1>
        Sūtīt ziņu
    </h1>
</div>
<div class="virsraksts">
<p>
    Aizpildtiet laukus, lai nosūtītu ziņu
</p>
</div>
    <p><div class="teksts"></p>
    <form action='/kontakti' method="POST">
      {% if message %}
      <h3>{{ message }}</h3>
      {% endif %}
      <fieldset>
        <label for="first-name">Vārds: <input id="first-name" name="first-name" type="text" required /></label>
        <label for="last-name">Uzvārds: <input id="last-name" name="last-name" type="text" required /></label>
        <label for="email">E-pasts: <input id="email" name="email" type="email" required /></label>
        <label for="text">Jūsu ziņa: <input id="text" name="text" type="text" required /></label>
      </fieldset>
      <input type="submit" value="Submit" />
    </form>
{% endblock %}
Footer
© 2022 GitHub, Inc.
Footer navigation
Terms
Privacy
Security
Statu