<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/elektroauto.css">
    {% block css %}
    {% endblock %}
    <title>Elektroauto</title>
</head>
<body>
   

    <ul class="nav">
       <label class="logotips" >Elektroauto</label> 
            <li><a href="/sakums">sakums</a></li>
            <li><a href="/tesla">Tesla model 3</a></li>
            <li><a href="/i3"active="i3">BMW i3</a></li>
            <li><a href="/fiat">Fiat 500</a></li>
            <li><a href="/leaf">Nissan Leaf</a></li>
            <li><a href="/zoe">Reault Zoe</a></li>
            <li><a href="/id3">VW ID3</a></li>
            <li><a href="/etron">Audi E-tron</a></li>
            <li><a href="/kontakti">Kontakti</a></li>
    </ul>

    <section>
        {% block saturs %}

        {% endblock %}
    </section>
    
    </body>
</html>