{% extends "layout.html" %}

{% set lapa = "leaf" %}
        
{% block saturs %}
        <h1>Nissan Leaf</h1>
  <img src="/static/atteli/leaf.jpg" alt="Nissan Leaf" div class="bildes">
      
  <div class="virsraksts">
        <p>
                Tas līdz šim bija vispārdotākais elektroauto pasaulē
        </p>
  </div>
        <div class="teksts">
                <p>
                        Nissan Leaf e+ ir šobrīd jaudīgākais no pieejamajiem Leaf, ja neskaita Nismo versiju, ko cilvēks parastais nevar nopirkt. Tam ir jaudīgāks motors un lielāka autonomija. No ārpuses skatoties gan nepateiksi, vai tas ir Leaf ar vai bez “e+”.


Nissan piedāvājumā šobrīd ir 2.5 elektroauto – eNV200, Leaf un Leaf e+. Ar Leaf man bija jau iespēja iepazīties līdz ko Latvijā bija pieejams tobrīd jaunais 40 kWh Leaf. Tobrīd arī gribēju uztaisīt aprakstu, bet nu apstākļi sakrita un nolēmu tādu neveikt. Tomēr šoreiz nenoslinkoju un galu galā uztaisīju aprakstu par tā uzlaboto versiju – Leaf e+. Pa lielam viss, kas izlasāms zemāk vai apskatāms video augstāk, ir attiecināms arī uz Leaf, kam ir 40 kWh akumulators. Galvenās atšķirības ir akumulatorā – 60 kWh (390 km (WLTP)) pret 40 kWh (270 km (WLTP)) – un motora jaudā – 160 kW pret 110 kW.

Jauns iepakojums
Jau 2010. gadā Nissan un tā laika vadītājs Karlos Gosns, kas spētu ietilpt mūzikas instrumenta futrālī, teica, ka Leaf ir paredzēts, lai būtu kārtīgs elektroauto, kas īpaši neizceļas starp citiem. Tiešām, iesēžoties iekšā, nekas diži neizceļas. Ieskatoties, var manīt pāris lietas, kas norāda uz to, ka esi iekš elektroauto, piemēram, izklaides sistēmā ir elektroauto specifisks skats.

Nissan Leaf e+
Nissan Leaf e+
Zinātāji saka, ka Nissan priekš jaunā Leaf izmanto tās pašas durvis, kas tika ražotas pirms 10 gadiem. Arī režīma pārslēgšanas kārba ir tāda pati. Protams, uzvarētāji taktiku nemaina un arī šoreiz tas nav slikti. Tomēr ir pāris lietas, kas prasītos modernākas. Ir pierasts, ka elektroauto dabū to svaigāko un jaunāko, kas ir autoražotājam pieejams. Iztrūkst, piemēram, tāds nieks kā programmatūras atjauninājumu iegūšana, nedodoties uz servisu, kas ļautu iegūt iztrūkstošās uzlādes stacijas navigācijā.

Nissan Leaf 2010
Nissan Leaf 2010. Avots: autoblog.com
Braukšanas komforts ir labs un, ja iepriekšējā nedēļā nebūtu savu pēcpusi pieradinājis pie luksus auto, tad teiktu, ka ļoti labs. Arī braukšana pa tipisku zemes ceļu ar to ir komfortabla. Motora jauda lika gribēt izņemt asākus līkumus straujāk un mašīnas uzbūve iedvesa drošību, to darot. Lai gan Leaf e+ nav tik kluss salonā kā Audi e-tron, ceļa skaņas nebūs par šķērsli sarunām.

  Nissan Ariya iepriekšpasūtīšana Latvijā ir sākusies
100 kW uzlādes jaudu neizdevās pārbaudīt, bet pie 50 kW uzlādes stacijas uz paneļa rādīja, ka uzlāde notiek ar 46 kW lielu jaudu. Spriežot pēc publiski pieejamās informācijas, tas ir tipiski priekš Leaf.

Tas bagāžnieks
Nissan Leaf bagāžnieks ir viena no lietām, kas man tanī patīk jau kopš tā modeļa, kurš iespēja vien 120 km ar vienu uzlādi. e+ modelim ir par 15 litriem mazāks bagāžnieks kā bez slēptās emblēmas, bet tas tik vai tā ir iespaidīgs. Protams, kā jau hečbeks, tas piedāvā diez gan lielu praktiskumu ikdienai. Ērti iekšā sēdošajiem un pietiekami daudz vietas mantām.

Nissan Leaf ar pāris maisiem bagāžniekā
Nissan Leaf ar pāris maisiem bagāžniekā
Nosēžoties sev aiz muguras man ir dūre starp krēslu un celi. Tomēr kaut kas nav ar vadītāja sēdekli. Uz zemāko (2 dūres līdz griestiem) rodas sajūta, ka dibens strīķējas pa ceļu, bet ar man komfortablo (1.5 dūre līdz griestiem) līmeni es nevaru atrast kājām ērtu pozīciju.

Mani pārsteidza aizmugurējo durvju atvēršanās leņķis. Nepateikšu precīzi, bet kādi 80° tur ir. Ielikt bērnu sēdeklītī ir ievērojami komfortablāk ar tik plaši atvērtām durvīm.

ProPILOT un e-Pedal
Ar Leaf 2.0 versiju Nissan pasauli iepazīstināja ar diviem jauniem nosaukumiem – ProPILOT un e-Pedal. ProPILOT ir advancēta kruīza kontrole, kas ne tikai notur ātrumu, bet arī palīdz ievērot joslu un pat nedaudz piestūrē. Pilnīgi atslābt par braukšanu ar šo vēl nevar, bet tas ļauj tik ļoti nenogurt braukšanas laikā. Man personīgi patiktos, ja tas joslā turētos nedaudz vairāk uz labo pusi, bet tā ir vairāk gaumes lieta.
                </p>
        </div>
{% endblock %}