{% extends "layout.html" %}

{% set lapa = "i3" %}
        
{% block saturs %}
        <h2>Elektroauto veidi</h2>

        <img src="/static/atteli/elektro.jpg" alt="alektroauto">

        <h2>ada sākumā, kad vēl mēs nezinājām par to, cik ļoti mainīsies mūsu ikdiena, Kristaps Skutelis no Kursors.lv uzsāka vienu izaicinājumu sēriju – pārbaudīt, cik ātri Latvijā pieejamie elektroauto mēros 1’000 km lielu distanci.

            Latvija šādiem testiem ir neparocīga, jo dzīvojam valstī, kura ir izmēros maza. Lai nebūtu garlaicīgi braukāt turp-atpakaļ uz Liepāju, tika izstrādāts maršruts Rīga → Ventspils → Liepāja → Dobele → Aizkraukle → Rēzekne → kafejnīca “Jautrais Ods” → Rīga. Vienīgais izņēmums bija ar vienu elektroauto, kas savu ierobežojumu dēļ nevarēja veikt Ventspils → Liepāja posmu, un tam tika izstrādāts savs maršruts.
            
            Ar 13 pilnībā elektriskajām mašīnām brauca 3 cilvēki – teju visus braucienus veica pats Kristaps, bet pa vienam Māris Gaugers no Kursors.lv (ar MINI Copper SE) un Kārlis Mendziņš no Uzlādēts.lv (ar Citroen C-Zero). Pirmais izmēģinājuma trusītis bija jaunais Volkswagen e-up! un noslēdza braucienu uzlecošā zvaigzne – Volkswagen ID.3.
        </h2>
        
{% endblock %}