{% extends "layout.html" %}

{% set lapa = "sakums" %}
        
{% block saturs %}
<h1>Elektroauto</h1>

<img src="/static/atteli/elektro.jpg" alt="alektroauto" div class="bildes">

<div class="virsraksts">
    <p>
        Populārākie mīti par elektroauto, kas attur no kļūšanas par tā īpašnieku
    </p>
</div>
<div class="teksts">
    <p> 
        Tendences auto nozarē liecina, ka nākotne piederēs videi draudzīgajiem elektroauto, kas, tehnoloģijām strauji attīstoties, kļūs arvien autonomāki.
Taču sabiedrībā aizvien pastāv dažādi mīti, kas attur kļūt par šā auto īpašnieku.
    </p>
   </div>
   <div class="virsraksts">
    <p>
        Mīts: elektroauto nespēj mērot pietiekami lielu distanci
    </p>
   </div>
   <div class="teksts">
    <p>
        Lai arī sākotnēji pirmie elektroauto modeļi tiešām spēja nobraukt salīdzinoši nelielus attālumus, auto ražotāji pēdējo gadu laikā maksimālo nobraukumu ir krietni uzlabojuši. Šobrīd ir iespējams iegādāties elektromobiļus, kas spēj nobraukt jau vairāk nekā 450 kilometru ar vienu uzlādi.

Ņemot vērā autovadītāju braukšanas paradumus Latvijā, visbiežāk ikdienā nobraucam vien dažus desmitus kilometru, un tam pilnībā piemēroti it arī vidējās klases elektroauto, kas ar pilnu uzlādi spēj nobraukt līdz 260 kilometriem.
    </p>
   </div>
   <div class="virsraksts">
    <p>
        Mīts: elektroauto ir pārāk dārgi un neatmaksājas 
    </p>
   </div>
   <div class="teksts">
    <p>
        Elektromobiļi mūsdienās joprojām tiek uzskatīti par dārgiem. Elektromobiļa iegādes cena patiešām ir augstāka nekā līdzvērtīgam automobilim ar benzīna vai dīzeļdzinēju, kas saistīts ar lielākām akumulatora ražošanas izmaksām. Tomēr, elektroauto skaitam palielinoties un tehnoloģijām attīstoties, elektromotru cenas samazināsies.

Šobrīd Latvijā elektroauto cenas svārstās no 20 000 līdz 40 000 eiro, bet jau tuvākajā laikā tirgū sagaidāmi arī demokrātiski auto par aptuveni 11 500 eiro.

Pieejami arī lietoti auto, vienīgi, lemjot par labu lietota auto iegādei, būtu vērts pārbaudīt tā baterijas stāvokli.

Tāpat, izsverot elektroauto iegādi un izmaksas, jāņem vārā nodokļa atvieglojumi un zemas ekspluatācijas izmaksas, kā arī ievērojami zemākas tehnisko apkopju izmaksas, kas ātri vien atsver ieguldījumu. Piemēram, Latvijā par elektromobiļiem nav jāmaksā reģistrācijas nodeva un tie ir atbrīvoti no nodokļiem. Tāpat galvaspilsētā dzīvojošajiem būtisks apsvērums noteikti ir bezmaksas auto stāvvietas, ko elektroautomobiļu vadītāji var izmantot ne tikai Rīgā un Liepājā, bet arī visā Igaunijā un Viļņā.
    </p>
   </div>









   {% endblock %}