{% extends "layout.html" %}

{% set lapa = "tesla" %}
        
{% block saturs %}
        <h1>Tesla model 3</h1>

        <img src="/static/atteli/tesla.jpg" alt="tesla" div class="bildes">
        
        <div class="virsraksts">
        
                <p>
                        Elektriskais Tesla Model 3 ir vērā ņemama alternatīva tradicionālajiem premium segmenta krosoveriem, taču tas nav lēts un faktiski nav lietojams bezceļa apstākļos.  
                </p>
        </div>
        
        <div class="teksts">
                <p>
                        Tiesa gan, tas nav auto, ko var atļauties ikviens – Model 3 ir luksusa līmeņa transportlīdzeklis, ko var pielīdzināt dārgākajām Range Rover Sport un Audi Q7 modifikācijām.

                        Visiem Tesla Model 3 ir pilnpiedziņa, taču tas nenozīmē, ka šis auto būtu līdzvērtīgs tādiem bezceļu pārvietošanās līdzekļiem kā Toyota Land Cruiser. Jāņem vērā, ka Model 3 nav īpaši augsts klīrenss, turklāt ne balstiekārta, ne arī auto apakšdaļas aizsardzība nav tādā līmenī, lai ar to būtu droši pārvietoties bezceļa apstākļos.
                        
                        Par dinamiku gan nevar sūdzēties. Pat bāzes versija 75D spēj 0-100 km/h paātrinājumu izpildīt straujāk, nekā vairums sportisko hečbeku, kamēr P90D ar Ludicrous Speed pakotni (jā, to tiešām tā sauc) spēj mēroties spēkiem pat ar atsevišķiem superkāriem.
                        
                        Braucot rāmākā režīmā, Tesla sola 400-500 km distances rezervi starp uzlādes reizēm, atkarībā no izraudzītās modifikācijas. Tomēr reālajā dzīvē var rēķināties, ka šī distance būs gandrīz par 100 km mazāka. Latvijas mērogiem gan ar to vajadzētu pietikt, taču jāņem vērā, ka pie mums nav pieejama Tesla Supercharger ātrās uzlādes punktu infrastruktūra. Šajās uzlādes vietās iespējams pusstundas laikā panākt, ka auto var veikt vēl 270 km distanci, taču šāds bezmaksas serviss pieejams tikai valstīs, kur atrodami oficiālie Tesla dīleri. Baltijas valstīs šāda dīlera vēl nav, tāpēc gan Model 3 iegāde, gan serviss - ar cenai atbilstošu apkalpošanu – jāveic, piemēram, Nīderlandē, Vācijā vai Zviedrijā. Savukārt uzlāde jāveic mājās (vai citviet) no parastas rozetes.
                </p>
        </div>
        <div class="virsraksts">
                <p>
                        Tesla Model 3
                </p>
        </div>
        <div class="teksts">
                <p> no 0 līdz 100 km/st -  6.1 s</p>
                <p>maksimālais ātrums - 225 km/st.</p>
                <p>gaitas rezerve - 510 km </p>
        </div>
        <div class="virsraksts">
                <p>Tesla Model 3 Long Range</p>
        </div>
        <div class="teksts">
                <p> no 0 līdz 100 km/st -  4.4 s</p>
                <p>maksimālais ātrums - 233 km/st.</p>
                <p>gaitas rezerve - 626 km </p>
        </div>

        <div class="virsraksts">
                <p>Tesla Model 3 Performance
                </p>
        </div>
        <div class="teksts">
                <p> no 0 līdz 100 km/st -  3.3 s</p>
                <p>maksimālais ātrums - 261 km/st.</p>
                <p>gaitas rezerve - 547 km </p>
        </div>
{% endblock %}