{% extends "layout.html" %}

{% set lapa = "zoe" %}
        
{% block saturs %}
        <h1>Zoe</h1>

        <img src="/static/atteli/zoe.jpg" alt="Zoe" div class="bildes">
        <div class="virsraksts">
                <p>
                        Renault Zoe ir viens no populārākajiem Eiropā
                </p>
        </div>
        <div class="teksts">
                <p>
                        enault Zoe ir iespējams nopirkt tikai Eiropā un tas kopš ražošanas uzsākšanas ir viens no populārākajiem EV. Kā ziņo InsideEVs, tagad pieejamā Renault Zoe versija ir pēdējā un 2024. g. to aizstās ar Renault 5.

                        Zoe platforma tobrīd būs jau 12 gadus veca, piedzīvojot vairākus uzlabojumus, no kurām pēdējā bija 2019. gadā, piedāvājot ievērojamas izmaiņas interjerā, lielāku bateriju un DC uzlādes iespēju. Vēl nesen Renault pārstāvji teica, ka Zoe netiks aizstāta, bet tagad tiek ziņots, ka to darīs jaunais Renault 5.
                        
                        Ņemot vērā, ka konkurenti nesnauž, jaunā Renault-Nissan-Mitsubishi platforma, kas paredzēta tikai EV, ļaus Renault būt konkurētspējīgākiem (par spīti tam, ka izvēlas dārgas baterijas). CMF-EV platforma ļaus piedāvāt Renault 5 par 1/3 zemāku cenu, salīdzinot ar Zoe.
                        
                        Jaunie modeļi no CMF-EV platformas no Renault būs Megane-e, Renault 5, Renault 4 un vairāki Alpine modeļi.    
                </p>

        </div>

{% endblock %}